extends ../layouts/common.pug

block content
    h2 Cart
    table.table
        tr
            th Book Title
            th Quantity
        each data in cartData 
            each book in books  
                tr  
                    if (data.bookId === book.id)
                        td=book.title 
                        td=data.quantity
    