html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png")
        title ExpressJS
        script(src="/Bai-2/db.js")
    body   
        nav.navbar.navbar-expand-sm.navbar-light.bg-light
                a.navbar-brand(href='/') CodersX
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        if !user
                            li.nav-item
                                a.nav-link(href='/') Home
                            li.nav-item
                                a.nav-link(href='/store') Store 
                            li.nav-item
                                a.nav-link(href='/cart') Cart
                            li.nav-item
                                if cartCount
                                    p=cartCount
                        else 
                            if(user.isAdmin === true)
                                li.nav-item
                                    a.nav-link(href='/users') User
                                li.nav-item
                                    a.nav-link(href='/books') Book 
                                li.nav-item
                                    a.nav-link(href='/transactions') Transaction
                            else
                                li.nav-item
                                    a.nav-link(href='/transaction/menu') Transaction Menu                           
                    
                    ul.navbar-nav.ml-auto
                        if user
                            li.nav-ite.ml-auto
                                span=user.name   
                        else
                            li.nav-ite.ml-auto
                                a.nav-link(href='/auth/login') Book Rental 
                            li.nav-ite.ml-auto
                                a.nav-link(href='/auth/login') Login  
        .container.pt-5
            block content
