h2 Books
a(href="/books/add") New Book
ul
  each book in bookList
    li
      span= book.title
      span &nbsp;
      a(href="/books/" +book.id +"/delete") Delete
      span &nbsp;
      a(href="/books/" +book.id) Update