extends ./layouts/common.pug

block content     
    h1 Hello Do
    div(class="d-flex flex-column")
        a(href="/books") Books
        a(href="/users") Users
        a(href="/transactions") Transactions
        a(href="/transaction/menu") Transaction Menu