extends ../layouts/common.pug

block content    
    h2 Update user
    p Old Name: 
        span=user.name
    form(action="/users/update" method="POST")
        label New Name:
            input(type="text" name="name" class="form-control")
            input(type="hidden" name="id", value=id)
            button(class="btn btn-primary mt-2") Update