extends ../layouts/common.pug

block content 
    h1 Hello
    table.table(style="height: 100%")
        tr
            th Book Title
            th Complete
        each item in transaction
            each book in books
                    tr
                        each itemId in item
                            if(itemId.bookId === book.id)
                                td=book.title
                                td=item.isComplete 
    include ../layouts/pagination.pug 
