extends ../layouts/common.pug

block content 
    h1 Hello
    table.table
        tr
            th Book Title
            th Complete
        each item in transaction
            each book in books
                each bookId in item.bookId
                    tr
                        if(bookId === book.id)
                            td=book.title
                            td=item.isComplete    
