extends ../layouts/common.pug

block content 
    h1 Hello
    table.table
        tr
            th Book Title
            th Quantity
            th Complete
        each item in transaction.bookId
            each book in books
                    tr
                        if(item.bookId.toString() === book.id.toString())
                            td=book.title
                            td=item.quantity
                            td=transaction.isComplete 
    include ../layouts/pagination.pug 
